/* @keyframes ticker {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(-100%);
   }
}

.animate-ticker {
   animation: ticker 25s linear infinite;
} */

@keyframes animate {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(-100%);
   }
}

.animate-ticker {
   animation: animate 21s linear infinite;
}
